nav {
  background-color: rgb(66, 66, 66);
  text-align: center;
  padding: 20px 0;

}

img.logo {
  width: 500px;
  height: 100px;
}

/* .card {
  width: 500px;
  height: 150px;
  background-color: white;
  
} */