body {
  overflow-x: hidden;
}

/* * NavBar */
nav {
  background-color: rgb(66, 66, 66);
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

img.logo {
  height: 100px;
}
/* * Cards */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 170px;
  margin-left: 30px;
  margin-right: 30px;
  justify-items: center;
}

/* * Card */
/* Card Flip */
.card-container {
  height: 350px;
  width: 300px;
  margin: 0;
  padding: 0;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.flipped .front {
  transform: rotateY(180deg);
  transition: ease 1s;
}
.flipped .back {
  transform: rotateY(0deg);
  transition: ease 1s;
}

.front, .back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  padding: 10px;
  position: absolute;
  border-radius: 1rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 3s;
  transition: transform ease 3s;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
    /* front tile styles go here! */
}
.back {
    transform: rotateY(-180deg);
    /* back tile styles go here! */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  transition: 1s;
  cursor: pointer;
  height: 350px;
  box-sizing: border-box;
  width: 300px;
}

.card:hover {
  filter: brightness(1.1);
}
/* Card Flip */

.wrapper-img {
  background: rgba(255, 255, 255, 0.5);
  width: 95%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.card img {
  
}

h2, h3, h4 {
  text-transform: capitalize;
  color: white;
  margin: 0px;
}

h2 {
}

h3 {
  font-weight: 500;
}

h4 {
  background-color: rgba(66, 66, 66, 0.6);
  border-radius: 5px;
  padding: 8px;
}

/* * Progress Bar */

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
}

.bar p,
span {
  font-size: 12px;
  width: 50px;
  text-transform: capitalize;
  text-align: center;
}

.bar-wrap {
  background-color: rgb(241, 150, 134);
  width: 100px;
  height: 8px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.points {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  bottom: 0;
  width: 70%;
  background-color: rgb(209, 77, 54);
}